@use 'colors.scss' as *;

.contenedor_list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 80%;
    margin: 2rem auto;
    gap: 2rem;

    .category {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 5px;
        cursor: pointer;
        border-radius: 5px;
        position: relative;
        .delete_button {
            position: absolute;
            width: 2rem;
            color: $fondo2;
            right: 1rem;
            top:-1.2rem;
            right: -1.2rem;
            &:hover{
                color: $letra1;
            }
        }
        img {
            max-width: 100%;
            margin-top: 5px;
            margin-bottom: auto;
        }
        h3{
            font-size: 1rem;
            margin-top: 0.5rem;
            color: $letra1;
        }

        &:hover {
            background: $fondohover;
        }
    }
}