@use 'colors.scss' as *;

* {
    margin: 0;
    padding: 0;
    font-family: arial;
}

img {
    border-radius: 8px;
}

body {
    background: black;
}

div {
    color: white;
}

.input_general{
    background:rgb(202, 202, 202);
    color: black;
    outline: none;
    border-radius: 8px;
    border: 2px solid black;
    &::placeholder{
        color: rgb(75, 75, 75);
    }
}

.boton {
    margin: 1rem auto;
    padding: 10px 40px;
    border: 2px solid white;
    border-radius: 10px;
    cursor: pointer;
    font-size: 0.8rem;
    background: none;
    color: white;
    &:hover {
        background: rgba(255, 255, 255, 0.103);
    }
}

.loading{
    width: 8rem;
    height: 8rem;
    border-radius: 100%;
    border: 5px solid $fondo2;
    border-top-color: white;
    margin:5rem auto;
    filter: drop-shadow(0 0 10px rgb(63, 63, 63));
    animation: theturn infinite 1s linear;
}

@keyframes  theturn{
    from{
        rotate: 0deg;
    }
    to{
        rotate: 360deg;
    }
}